name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Make src available as module
        run: echo "PYTHONPATH=$PYTHONPATH:$(pwd)" >> $GITHUB_ENV


      - name: Create tiny model for CI
        run: |
          mkdir -p local_model
          python - << 'EOF'
from transformers import AutoTokenizer, AutoModelForSequenceClassification
model_id = "hf-internal-testing/tiny-random-distilbert"
tok = AutoTokenizer.from_pretrained(model_id)
model = AutoModelForSequenceClassification.from_pretrained(model_id)
tok.save_pretrained("local_model")
model.save_pretrained("local_model")
EOF

      - name: Run tests
        run: pytest -v
